@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Comfortaa';
    font-style: normal;
  }

  body > div.flex-container > div.flex-item-right
  {
    margin-left: 85%;
  }
  body > div.flex-container > div.flex-item-right > button
  {
    background-color: #000000;
    color: #F5F5F5;
    border-radius: 15px;
    width:80%;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    letter-spacing: -0.015em;
    margin-bottom: 1em; /*FORMULÃRIO DESCE*/
    margin-top: 0;
    text-transform: uppercase;
  }

  body > div.flex-container > div.flex-item-right > button:hover
  {
    background-color: #ffffff;
    color: #000000;
    border-style: 10px #000000;
  }
  
 .flex-item-left p
  {
    font-size: 46px;
    font-weight: 600;
    margin-top: 0;
  }

  input[type=text], input[type=password], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  button[type=submit] {

    color: white;
    padding: 12px 20px;
    cursor: pointer;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
#fname, #lname
  {
    font-size: 28px;
  }


  body > div.flex-container > div:nth-child(3) > form > div:nth-child(3) > button
  {
    width: 50%;
    margin-bottom: 3em;
    margin-top: 2em;
    color: white;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    background-color: #000000;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 12em;
  }

  body > div.flex-container > div:nth-child(3) > form > div:nth-child(3) > button:hover
  {
    background-color: #ffffff;
    color: #000000;
    border-style: 10px #000000;
    font-weight: 600;
  }

.botoes
  {
    display: flex;
  }

  body > div.flex-container > div.flex-container > div
  {
    margin-top: 1em;
  }

  body > div.flex-container > div.flex-container > div > div > button.button.button1, 
  body > div.flex-container > div.flex-container > div > div > button.button.button2
  {
    color: white;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5em;
    cursor: pointer;
    background-color: #000000;
    text-transform: uppercase;
    font-weight: 300;
    width: 40%;
    height: 3em;
  }

  body > div.flex-container > div.flex-container > div > div > button.button.button1:hover, 
  body > div.flex-container > div.flex-container > div > div > button.button.button2:hover{
    background-color: #ffffff;
    color: #000000;
    border-style: 10px #000000;
    font-weight: 600;
  }




  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media(max-width: 600px) {
    .col-25, .col-75, button[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    body > div.flex-container > div.flex-item-right
    {
        margin-left: 0;
    }
    .flex-item-left p{
        margin-left: 30%;
    };
    body > div.flex-container > div.flex-item-right
    {
      margin-left: 5%;
    }
    body > div.flex-container > div.flex-item-right > button
    {
        width: 50%;
        margin-bottom: 2em;
    }
    .button
    {
        border-radius: 15px;
        margin-left: 25%;
        width: 50%;
        padding: 10px 32px;
        font-size: 16px;
        margin-top: 1em;
    }
    body > div.flex-container > div.flex-container > div
  {
    margin-top: 2em;
  }
  body > div.flex-container > div.flex-container > div > div > button.button.button1, 
  body > div.flex-container > div.flex-container > div > div > button.button.button2
  {
  
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    width: 50%;
    height: 3.5em;
  }
    .botoes
    {
      display: block;
    margin-bottom: 10px;
    }
}

