@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Comfortaa';
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
body > div.flex-container > div.flex-item-right
{
    margin-left: 0;
    margin-top: 2em;
}

#botaosair
  {
    background-color: #000000;
      color: #F5F5F5;
      border-radius: 15px;
      width:10%;
      height: 50px;
      font-weight: 300;
      font-size: 22px;
      align-items: center;
      letter-spacing: -0.015em;
      text-transform: uppercase;
      margin-left: 85%;
      margin-top: 0.5em;
  }

  #botaosair:hover
  {
      background-color: #ffffff;
      color: #000000;
      border-style: 10px #000000;
  }

  body > section.recuperacaoConta > p
  {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
  }

  body > section.formularioRecuperacao > p
  {
    margin-left: 10%;
    font-size: 22px;
    font-weight: 600;
    margin-top: 4em;
  }
  body > section.formularioRecuperacao > form
  {
    margin-left: 10em;
  }
  
  #emailInput
  {
    width: 80%;
    height: 2em;
    border-style: 10px #000000;
  }

body > div.container > form > div:nth-child(1) > div:nth-child(2)
  {
    width: 100%;
  }

#email
  {
    width: 75%;
    font-size: 22px;
    margin-top: 2.5em;
  }

  body > section.formularioRecuperacao > form > button
  {
    width:20%;
    height: 50px;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #000000;
    color: #F5F5F5;
    border-radius: 15px;
    line-height: 54px;
    align-items: center;
    letter-spacing: -0.015em;
    margin-top: 5em;
    margin-left: 17em;
  }

  body > section.formularioRecuperacao > form > button:hover{
    background-color: #ffffff;
      color: #000000;
      border-style: 10px #000000;
  }


  @media screen and (max-width: 600px) {
    .col-5, .col-5, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    body > div.flex-container > div.flex-item-right > a > button
    {
        width: auto;
    }
    
    body > div.flex-container > div.flex-item-left
    {
        margin-left: 0;
    }
    body > div.flex-container > div.flex-item-left > p
    {
        margin-top: 5em;
        text-align: center;
    }
    body > div.container > form       {
        margin-top: 15%;
    }
    body > div.flex-container > div.flex-item-left > p, body > div.container > form > div:nth-child(1) > div:nth-child(1) > label,
    #fname
    {
      font-size: 26px;
      margin-left: 0;
    }
    body > div.container > form
    {
        margin-left: 0;
    }
    body > div.container > form > div:nth-child(1) > div:nth-child(2)
    {
        margin-top: 1em;
    }
    #fname
    {
        margin-left: 2%;
        width: 80%;
        border-style: 10px #000000;
    }
    body > div.container > form > div:nth-child(2) > input[type=submit]
    {
        margin-left: 0;
        margin-top: 0;
        width: auto;
        height: 5em;
        font-size: 15px;    
        font-weight: 100;
    }
    body > div.flex-container > div.flex-item-right
    {
      margin-left: 0;
    }
  }

  @media screen and (min-width:610px)and (max-width:800px) {
    body > div.flex-container > div.flex-item-right > a > button
    {
        width: auto;
    }
    body > div.flex-container > div.flex-item-right
    {
      margin-left: 0;
    }
    body > div.container > form > div:nth-child(2) > input[type=submit]
    {
            width: auto;
            font-size: 25px;    
            font-weight: 100;
            height: 60%;
    }
    body > div.flex-container > div.flex-item-left
    {
        margin-left: 0;
    }
    body > div.flex-container > div.flex-item-left > p
    {
        margin-top: 5em;
        text-align: center;
        margin-left: 0;
    }
    body > div.container > form       {
        margin-top: 15%;
    }
    body > div.flex-container > div.flex-item-left > p, body > div.container > form > div:nth-child(1) > div:nth-child(1) > label,
    #fname
    {
      font-size: 26px;
      margin-left: 0;
    }
    body > div.container > form
    {
        margin-left: 0;
    }
  }