@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Comfortaa';
  font-style: normal;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  height: 100%;
}

body > div.flex-container > div.flex-item-left
{
  text-align: center;
  padding-right: 17%;
  background-color: #000000;
  color: #ffffff;
}
.flex-item-left {
  flex: 70%;
}

.flex-item-right {
  padding: 10px;
  flex: 30%;
  text-decoration: none;
  text-align: center;
}
body > div.flex-container > div.flex-item-left > p.bemVindo, p.acesso
{
  font-size: 25px;
}

  body > div > div.flex-item-left
  {
    font-weight: 300;
    font-size: 36px;
    line-height: 50px;
    align-items: center;
    letter-spacing: -0.015em;
    color: #000000;
    padding-top: 4em;
    padding-left: 5em;
    padding-right: 15em;
    font-weight: bold;
    text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
  }

  button {
    display: block;
  }
  
  body > div > div.flex-item-right > a:nth-child(1) > button,
  body > div > div.flex-item-right > a:nth-child(2) > button
  {
    background-color: #000000;
    color: #F5F5F5;
    border-radius: 15px;
    height: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: -0.015em;
    display: inline-block;
    vertical-align: middle;
  }
  body > div > div.flex-item-right > a:nth-child(1) > button
  {
      margin-top: 50px;
      width: 60%;
  }
  body > div > div.flex-item-right > a:nth-child(2) > button
  {
      margin-top: 20px;
      width: 60%;
  }

  body > div > div.flex-item-right > a:nth-child(1) > button:hover,
  body > div > div.flex-item-right > a:nth-child(2) > button:hover
  {
      background-color: #ffffff;
      color: #000000;
      border-style: 10px #000000;
  }

  body > div > div.flex-item-right > img
  {
    padding-top: 20%;
    display: inline-block;
    vertical-align: middle;
    width: 43vh;
    height: 43vh;
  }

  /* Responsive layout - makes a one column-layout instead of two-column layout */
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 600px)
 {
    .flex-container 
    {
      flex-direction: column;
    }
    body > div.flex-container > div.flex-item-left
    {
      padding-left: 0;
    }
    body > div.flex-container > div.flex-item-left, body > div.flex-container > div.flex-item-left > p.bemVindo,
    body > div.flex-container > div.flex-item-left > p.acesso
    {
      margin-left: 0;
      font-size: 12px;
      text-align: none;
    }
    body > div > div.flex-item-right > a:nth-child(1) > button,
    body > div > div.flex-item-right > a:nth-child(2) > button
    {
        width: 200px;
        height: 50px;
        font-size: 20px;
        margin-left: 5em;
        margin-top: 2;

    }
    body > div > div.flex-item-right
    {
        position: relative;
        margin-left: 0;
        padding: 0;
    }
    body > div > div.flex-item-right > img
    {
        width: 90px;
        height: 80px;
        margin-left: 10em;
    }
 }
    @media (min-width: 600px) and (max-width: 800px)
    {
        .flex-container 
    {
      flex-direction: column;
    }
    body > div > div.flex-item-left
    {
        font-size: 20px;
        padding-right: 0;
        padding-top: 0;
    }
    body > div > div.flex-item-right > a:nth-child(1) > button,
    body > div > div.flex-item-right > a:nth-child(2) > button
    {
        width: 300px;
        height: 70px;
        font-size: 30px;
        align-items: center;

    }
    body > div > div.flex-item-right
    {
        position: relative;
        margin-left: 130px;
    }
    body > div > div.flex-item-right > img
    {
        width: 100px;
        height: 90px;
        margin-left: 80px;
        margin-top: 70px;
    }
    }
  
  